# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Environment folders
env/
venv/
.venv/

# OS system files
.DS_Store
Thumbs.db

# Streamlit-specific
.streamlit/config.toml
.streamlit/secrets.toml


# IDE files
.vscode/
.idea/

# Data files (optional)
*.db
*.sqlite3
*.csv
*.json

# Miscellaneous
*.log
