
[data-testid="stAppViewContainer"] {
    background-color: rgb(31, 29, 29) !important;
}


[data-testid="stAppViewContainer"] * {
    color: rgb(129, 106, 106) !important;
}


.stButton > button {
    background-color: #444 !important;
    color: rgb(70, 53, 53) !important;
    border: 1px solid #666 !important;
}


input, select, textarea {
    background-color: #222 !important;
    color: rgb(121, 110, 110) !important;
    border: 1px solid #666 !important;
}

[data-testid="stSidebar"] {
    background-color: #111 !important;
}

div[data-baseweb="select"] > div {
    background-color: #1f1c1c !important;
    color: rgb(138, 121, 121) !important;
}




/* Search Address button */
form[data-testid="stForm"][id="add_person_form"] button[type="secondary"] {
    background-color: #2196F3 !important;
    border-color: #1976D2 !important;
    color: rgb(90, 77, 77) !important;
}

/* Add Person button */
form[data-testid="stForm"][id="add_person_form"] button[type="primary"] {
    background-color: #4CAF50 !important;
    border-color: #45a049 !important;
    color: white !important;
}